<md-content layout-padding>

    <div layout="row" layout-align="center" flex>
        <md-button ng-if="!vm.isFormOpen" class="md-raised md-primary" ng-click="vm.toggle()">
            Edit
        </md-button>
        <md-button ng-if="vm.isFormOpen" class="md-raised md-warn" ng-click="vm.cancelUpdate(); vm.toggle()">
            Cancel
        </md-button>
    </div>
    <form name="editPostForm" ng-submit="vm.editPost()" ng-if="vm.isFormOpen" class="edit-form">
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>User</label>
                <!-- Need to manually reset the form -->
                <input name="user" ng-model="vm.post.user" required>
                <div ng-messages="editPostForm.user.$error">
                    <div ng-message="required">You cannot simply remove the user!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Title</label>
                <!-- Need to manually reset the form -->
                <input name="title" ng-model="vm.post.title" required>
                <div ng-messages="editPostForm.title.$error">
                    <div ng-message="required">You cannot simply remove the title!</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-xs="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Body</label>
                <!-- Need to manually reset the form -->
                <textarea name="body" ng-model="vm.post.body" required></textarea>
                <div ng-messages="editPostForm.body.$error">
                    <div ng-message="required">You cannot simply remove the post!</div>
                </div>
            </md-input-container>
        </div>
        <div class="md-actions">
            <md-button class="md-primary md-raised date-row" type="submit" ng-disabled="editPostForm.$invalid">
                Save
            </md-button>
        </div>
        </div>
    </form>
</md-content>