<md-content ng-cloak>
    <md-list flex>
        <md-divider></md-divider>
        <a ng-repeat="post in vm.posts" ui-sref="singlePost({ id: post.id })">
            <md-list-item class="md-3-line" ng-click="null">
            <div class="md-list-item-text" layout="column">
                <h3>{{ post.title }}</h3>
                <h4>{{ post.user }}</h4>
                <p>Last Update: {{post.date}}</p>
                <p># of comments placeholder</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
        </a>
    </md-list>
</md-content>